/* start header */
.a{
  background-color: white;

}

#menu{
  background: black;
  height: 65px;
}

#menu ul
{
  list-style:none;
  margin-left: 200px;


} 

#menu ul li{
  line-height: 40px;
  display: inline-block;
    margin-left: 20px;
    height: 40px;
    width: 150px;
    text-align: center;
    float: right;
    margin-top: 10px;
    margin-right: 10px;

}
  
#menu ul li:hover
{
  background-color: #808080 ;
  border-radius:6px;
  box-shadow: 3px 3px 5px  #ffb17a;
}

.active
{
  background:#808080;
  border-radius: 6px;
  box-shadow: 3px 3px 5px #ffb17a;

}

#menu ul li a
{
  text-decoration:none;
  color:#fff;
  display:block;
  font-weight:bold;
  position: relative;

}
.logo-img{
    width: 150px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
.title{
  font-family: 'Berkshire Swash', cursive;
  text-align:center;
  font-weight: bold;
  font-size:30px;
  width:100%;
  height:50px;
  } 




  
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
h4{
  margin:0;
}
html,body{
  height: 100%;
 background-image: linear-gradient(315deg, #e3efe8 0%, #96a7cf 74%);
 place-items: center;
}
.container{
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card{
  height: 280px;
  max-width: 350px;
  margin: 0 20px;
  background: white;
  transition: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);
}
.card:hover{
  height: 400px;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);
}
.card .img{
  height: 200px;
  width: 100%;
}
.card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .top-text{
  padding: 5px;
}
.card .top-text .name{
  font-size: 25px;
  font-weight: 600;
  color: #202020;
}
.card .top-text p{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .bottom-text{
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.card:hover .bottom-text{
  opacity: 1;
  visibility: visible;
}
.card .bottom-text .text{
  text-align: justify;
}
.card .bottom-text .btn{
  margin: 10px 0;
  text-align: left;
}
.card .bottom-text .btn a{
  text-decoration: none;
  background: #e74c3c;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}
.card .bottom-text .btn a:hover{
  transform: scale(0.9);
}
@media screen and (max-width: 978px) {
  .container{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card{
    max-width: 700px;
    margin: 20px 0;
  }
}






