
/* start header */
.a{
	background-color: white;

}

#menu{
	background: black;
	height: 65px;
}

#menu ul
{
	list-style:none;
	margin-left: 200px;


}	

#menu ul li{
	line-height: 40px;
	display: inline-block;
    margin-left: 20px;
    height: 40px;
    width: 150px;
    text-align: center;
    float: right;
    margin-top: 10px;
    margin-right: 10px;

}
	
#menu ul li:hover
{
	background-color: #808080 ;
	border-radius:6px;
	box-shadow: 3px 3px 5px  #ffb17a;
}

.active
{
	background:#808080;
	border-radius: 6px;
	box-shadow: 3px 3px 5px #ffb17a;

}

#menu ul li a
{
	text-decoration:none;
	color:#fff;
	display:block;
	font-weight:bold;
	position: relative;

}
.logo-img{
    width: 150px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}



/* start contact us */
.container {
	display: flex;
	
}
body{
	background-image: linear-gradient(315deg, #e3efe8 0%, #96a7cf 74%);
	background-repeat: no-repeat;
	height: 730px;


}

.title{
	font-family: 'Berkshire Swash', cursive;
	text-align:center;
	font-weight: bold;
	font-size:30px;
	width:100%;
	height:50px;
	}	

.contactform{
		width:100%; 
	height:500px;
}
 .cform{
 	position:absolute;
 	top:250px;
 	left:50px;
 	background-color: rgba(255,255,255,0.8);
 	margin:10px;
 	padding:20px;
 	width: 350px;
 	border-radius: 20px;
 	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);
 }

 .inputbox{
 	padding-left: 40px;
}

.form{
	padding: 5px;
	width: 250px;
	border: 10;
	
}

.contactinfo{
	background-color:rgba(255,255,255,0.8);
	width:40%;
	position:absolute;
	top:260px;
	right:60px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);

}
	
.sci{
	display:flex;
	justify-content: space-around;
}


#error_message{
	margin-bottom: 20px;
	padding:0px;
	background: #fe8b8e;
	text-align: center;
	font-size: 14px;
	transition: all 0.5s ease;
}
