body{
	 background-image:url("image/2.jpeg");
	 background-repeat: no-repeat;
	 background-size: 1537px;
	
}
#menu{
	background: black;
	height: 65px;
}

#menu ul
{
	list-style:none;
	margin-left: 200px;


}	

#menu ul li{
	line-height: 40px;
	display: inline-block;
    margin-left: 20px;
    height: 40px;
    width: 150px;
    text-align: center;
    float: right;
    margin-top: 10px;
    margin-right: 10px;

}
	
#menu ul li:hover
{
	background-color: #808080 ;
	border-radius:6px;
	box-shadow: 3px 3px 5px  #ffb17a;
}

.active
{
	background:#808080;
	border-radius: 6px;
	box-shadow: 3px 3px 5px #ffb17a;

}

#menu ul li a
{
	text-decoration:none;
	color:#fff;
	display:block;
	font-weight:bold;
	position: relative;

}
.logo-img{
    width: 150px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

/* toggle */

h1 {
  font-size: 20px;
  color: #2c3e50;
}

input[type="checkbox"] {
  position: relative;
  width: 100px;
  height: 40px;
  background: #bdc3c7;
  -webkit-appearance: none;
  border-radius: 20px;
  outline: none;
  transition: .4s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);
  cursor: pointer;
}

input:checked[type="checkbox"] {
  background: #3498db;
}

input[type="checkbox"]::before {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .4s;
}

input:checked[type="checkbox"]::before {
  left: 60px;
}

.toggle {
  position: relative;
  display: inline;
}

label {
  position: absolute;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  pointer-events: none;
}

.onbtn {
  bottom: 15px;
  left: 15px;
}

.ofbtn {
  bottom: 15px;
  right: 14px;
  color: #34495e;
}

.home-section .home-content h1{
  font-size: 50px;
  margin-top: 200px;
  margin-left: 200px;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 10px;
}

.h1{
	height:30px;
	width:170px;
	background-color:rgba(0,0,0,0.5);
	text-align:center; 
	border-radius:20px;
	padding-top:5px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);
	color: white;

}

h3,h4{
	color: white;
	margin:0px;
}