/* start header */
.a{
  background-color: white;

}

#menu{
  background: black;
  height: 65px;
}

#menu ul
{
  list-style:none;
  margin-left: 200px;


} 

#menu ul li{
  line-height: 40px;
  display: inline-block;
    margin-left: 20px;
    height: 40px;
    width: 150px;
    text-align: center;
    float: right;
    margin-top: 10px;
    margin-right: 10px;

}
  
#menu ul li:hover
{
  background-color: #808080 ;
  border-radius:6px;
  box-shadow: 3px 3px 5px  #ffb17a;
}

.active
{
  background:#808080;
  border-radius: 6px;
  box-shadow: 3px 3px 5px #ffb17a;

}

#menu ul li a
{
  text-decoration:none;
  color:#fff;
  display:block;
  font-weight:bold;
  position: relative;

}
.logo-img{
    width: 150px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

/* end nav*/


body{
	background-image: linear-gradient(315deg, #e3efe8 0%, #96a7cf 74%);


}

.food{
	border: 0px solid black;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.product{
	
	height: 370px;
	width: 350px;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.35);
	transition: transform 1s;
	background-image: radial-gradient(circle,rgba(255,255,255,1),rgba(255,255,225,.2));
}

.product:hover{
	transform: scale(1.08);
}

.product img{
	width: 100%;.p{
		margin-left: 50px;
	}
}

.checked{
	color: orange;
}

.starr{
	
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.para{
	text-align: center;
	margin-top:-10px;
	font-weight: bold;
	font-size: 20px;
}

h1{
	font-family: 'Berkshire Swash', cursive;
	
}

.p{
	text-align: center;
	font-weight: bold;
	background-color: #C8C4C4;
	padding: 5px;
}

.innerpara{
	font-weight:normal;
	font-size: 15px;
}